.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 0 5rem;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    padding: 0 20px;
  }
  /* display: none first two child */
  .container > :nth-child(1),
  .container > :nth-child(2) {
    display: none;
  }
}
